---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("blog");
  const colors = ["magenta", "cyan", "yellow"];

  return blogs.map((entry, idx) => ({
    params: { slug: entry.slug },
    props: { entry, color: colors[idx % colors.length] },
  }));
}

const { entry, color } = Astro.props;
const { Content } = await entry.render();
const { title, date, author } = entry.data;
---

<PageLayout title={title} mainTitle={title} color={color}>
  <div class="blog">
    <Content />
  </div>
</PageLayout>

<style is:global>
  .blog h2 + h5 {
    text-align: right;
  }

  .blog img {
    max-width: var(--container-md);
    margin-top: var(--spacing-600);
  }

  .blog pre.astro-code {
    margin-block: var(--spacing-400);
    padding: var(--spacing-100);
  }
</style>
