---
import "../styles/style.sass";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lost in Space</title>
    <link rel="icon" href="/favicon.ico?v2" />
  </head>
  <body class="p-8">
    <h1>Ah shuck 🙄</h1>
    <p class="lead">Looks like this page is no longer with us.</p>
    <a href="/">
      <button class="btn btn-primary"> Go back home</button>
    </a>
  </body>
</html>
