---
import PageLayout from "../layouts/PageLayout.astro";
import { Content as Blog } from "../pages/blog.md";
---

<PageLayout
  title="Blog"
  backgroundImage="/images/blog-header.jpg"
  mainTitle="Blog"
>
  <section id="mission-statement" class="lead">
    <div class="container">
      <h2 class="display-4 mb-5 d-block">Blog</h2>
      <Blog />
    </div>
  </section>
</PageLayout>
<style lang="sass" is:global>
  img
    max-width: 80pc
    margin: 2rem
</style>
