---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Donate" mainTitle="Join Our Open Collective!">
  <a
    href="https://opencollective.com/amplifying-fsharp/donate?interval=oneTime&amount=1&contributeAs=me"
    target="_blank"
  >
    <img
      src="https://opencollective.com/amplifying-fsharp/donate/button@2x.png?color=blue"
      width="300"
    />
  </a>
  <p>
    Running Amplifying F# involves certain fixed costs, including domain names,
    various services, and travel expenses.
    <br />
    If you believe you’ve gained value from our initiative, please consider making
    a donation.
  </p>
  <h2 id="goals">Goals</h2>
  <p>
    Previously, we had grand ambitions for our Open Collective. In our wildest
    dreams, we envisioned a world where we could start paying developers like a
    real job and see F# flourish. Of course, this was a set of lofty
    expectations, and we knew it was unlikely to happen. So, we established more
    attainable goals that could also be achieved with a smaller amount of money.
  </p>
  <p>
    Unfortunately, there is a critical amount of funding needed before you can
    make a significant impact in open-source. A $10 donation to an individual
    developer may be a thoughtful gesture, and it's great to continue supporting
    them in that way, but in the grand scheme of things, it doesn't lead to
    substantial change.
  </p>
  <p>
    What we want to convey is that, for now, we are pausing our larger plans
    with Open Collective.
    <br /> This means we are not actively utilizing the funds for new initiatives.
    We are using it to keep the lights on, but nothing more.
  </p>
  <p>
    That being said, you can still donate to us; we just want to manage your
    expectations a bit.
    <br /> If you have any thoughts or suggestions, please feel free to reach out
    to us via <a href="mailto:amplifyingfsharp@gmail.com">email</a>.
  </p>
  <h2>Current sponsors</h2>
  <style>
    a:has(img) {
      display: block;
      text-align: center;
    }

    :root p {
      margin-block: var(--spacing-400);
    }

    h2 {
      text-align: center;
      margin-bottom: var(--spacing-400);
    }

    #goals {
      scroll-margin-top: var(--spacing-800);
    }

    .tier {
      max-width: 960px;
      margin-inline: auto;
      margin-block: var(--spacing-600);
      padding: var(--spacing-500) var(--spacing-400);

      h3 {
        margin-block: 0;
      }

      p {
        margin-block: var(--spacing-500);
      }

      ul li:last-of-type {
        margin-bottom: 0;
      }
    }
  </style>
  <script is:inline src="https://opencollective.com/amplifying-fsharp/banner.js"
  ></script>
  <style is:global>
    .opencollective-banner {
      margin-top: var(--spacing-400);
    }
  </style>
</PageLayout>
