---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Donate" mainTitle="Join Our Open Collective!">
  <a
    href="https://opencollective.com/amplifying-fsharp/donate?interval=oneTime&amount=1&contributeAs=me"
    target="_blank"
  >
    <img
      src="https://opencollective.com/amplifying-fsharp/donate/button@2x.png?color=blue"
      width="300"
    />
  </a>
  <p>
    🚀 Boom! We've kicked off an open collective, hunting down some fuel (aka
    funding) for our epic F# adventures ahead. Dive into the heart of our
    mission in our <a
      href="https://opencollective.com/amplifying-fsharp#category-ABOUT"
      target="_blank">about section</a
    > over at our Open Collective spaceship. Every contribution? It's like rocket
    fuel to us. We're beyond thankful! Let's light this up!
  </p>
  <h2 id="goals">Goals</h2>
  <p>
    We value transparency and wish to share some of our thoughts when it comes
    to spending the funded money. <br />
    Because some or our ideas are more realistic than others, we bundle them in tiers.
    <br />
    Whatever tier we land on, we do aim to spend the money and not do any hoarding.
  </p>
  <div class="tier" style="background: var(--cyan-300);">
    <h3>Cottage tier (0 - 5K)</h3>
    <p>
      This is the lowest tier and would allow us to cover our current costs.
    </p>
    <ul>
      <li>
        Services for our online sessions (for example our Zoom subscription).
      </li>
      <li>Travel costs when meeting the F# community in the real world.</li>
      <li>Buying and sending out swag like coffee mugs & t-shirts.</li>
      <li>Buy a open-source maintainer a lunch after a great release.</li>
      <li>Pay for advertisements for our sessions and F# essentials.</li>
    </ul>
  </div>
  <div class="tier" style="background: var(--cyan-500); color: var(--cyan-950)">
    <h3>Villa tier (5K - 15K)</h3>
    <p>
      This tier allows us to start paying F# contributors to work on a small
      scoped topic.
    </p>
    <ul>
      <li>Write more get started documentation for popular projects.</li>
      <li>Contribute a new feature to the F# compiler or to tooling.</li>
      <li>
        Do some invisible maintance work that just cannot be done after hours.
      </li>
    </ul>
  </div>
  <div class="tier" style="background: var(--cyan-700); color: var(--cyan-50)">
    <h3>Mansion tier (15K - 50K)</h3>
    <p>
      Now we are getting somewhere. We could organise a small conference with
      this kind of money.
    </p>
    <ul>
      <li>In person conference/workshop/hackaton.</li>
      <li>Long term paid open-source F# work.</li>
    </ul>
  </div>
  <div class="tier" style="background: var(--cyan-900); color: var(--white)">
    <h3>Castle tier (50K - ...)</h3>
    <p>
      This is the God tier, we can only dream of achieving this. It would allow
      us to start thinking about having someone work on community projects
      part-time, maybe even full-time.
    </p>
    <ul>
      <li>
        We can start a legal entity and conduct business on a more professional
        level.
      </li>
      <li>Work on anything we need fixing for in the F# community.</li>
      <li>Turn Ionide into an unmatched editing experience.</li>
      <li>Produce professional education content.</li>
    </ul>
  </div>
  <h2>Current sponsors</h2>
  <style>
    a:has(img) {
      display: block;
      text-align: center;
    }

    :root p {
      margin-block: var(--spacing-600);
    }

    h2 {
      text-align: center;
      margin-bottom: var(--spacing-400);
    }

    #goals {
      scroll-margin-top: var(--spacing-800);
    }

    .tier {
      max-width: 960px;
      margin-inline: auto;
      margin-block: var(--spacing-600);
      padding: var(--spacing-500) var(--spacing-400);

      h3 {
        margin-block: 0;
      }

      p {
        margin-block: var(--spacing-500);
      }

      ul li:last-of-type {
        margin-bottom: 0;
      }
    }
  </style>
  <script is:inline src="https://opencollective.com/amplifying-fsharp/banner.js"
  ></script>
  <style is:global>
    .opencollective-banner {
      margin-top: var(--spacing-400);
    }
  </style>
</PageLayout>
