---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import fsharpLogo from "../images/fsharp-logo.svg";
import Ian from "../images/authors/IanRussell.jpg";
import Edgar from "../images/authors/EdgarGonzalez.jpg";
import LocalTime from "../components/LocalTime";
import YouTubeVideo from "../components/YouTubeVideo.astro";
---

<Layout title="F# The Essentials Lectures">
  <main>
    <section id="intro">
      <div class="container">
        <div>
          <h1>F# The Essentials Lectures</h1>
          <iframe
            src="https://www.youtube.com/embed/tIb98KzgaRQ?si=AezTWqNW2e79rC8q&controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
        <div>
          <p>
            This <strong>FREE</strong> online course is based on Ian Russell's <a
              href="https://leanpub.com/essential-fsharp">Essential F#</a
            > book and designed for people who already have some experience in other
            languages, and now want to become a better programmer by learning F#.
            All you need is your computer and your editor of choice, and two hours
            of time, that will change the way you develop software forever.
          </p>
          <hr />
          <ul>
            <li>
              <Icon
                name="healthicons:i-schedule-school-date-time-outline"
                height="24"
                width="24"
              />
              <span>7 February 2024</span>
            </li>
            <li>
              <Icon name="ion:calendar-outline" height="24" width="24" />
              <span>Weekly basis</span>
            </li>
            <li>
              <Icon name="uiw:smile-o" height="24" width="24" />
              <span>Beginner friendly</span>
            </li>
            <li>
              <Icon name="fluent:video-24-regular" height="24" width="24" />
              <span>Live</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <style>
      #intro {
        padding: var(--spacing-200);
        background-color: var(--key-50);

        h1 {
          font-size: var(--font-800);
        }

        iframe {
          width: 100%;
          aspect-ratio: 16 / 9;
        }

        p {
          font-size: var(--font-400);
          margin-bottom: var(--spacing-400);
        }

        hr {
          border-bottom: 1px solid var(--key-100);
          box-shadow: 0 1px 1px 0 var(--shadow-color);
          margin-bottom: var(--spacing-400);
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: inline-flex;
            gap: var(--spacing-200);
            margin-bottom: var(--spacing-300);
            margin-right: var(--spacing-300);
          }
        }

        @media screen and (min-width: 768px) {
          padding-block: var(--spacing-700);

          .container {
            display: flex;
            gap: var(--spacing-500);

            > div {
              flex: 1;
            }

            h1 {
              height: var(--spacing-700);
              font-size: var(--font-500);
              margin-bottom: 0;
            }

            p {
              margin-top: var(--spacing-700);
            }

            ul {
              display: flex;
              flex-wrap: wrap;

              li {
                flex: 1 1 40%;
              }
            }
          }
        }

        @media screen and (min-width: 1200px) {
          .container {
            h1 {
              font-size: var(--font-700);
            }
          }
        }
      }
    </style>
    <style>
      #sign-up {
        background: radial-gradient(
          307.22% 226.24% at 50% 50%,
          rgba(204, 236, 249, 0.5) 30.39%,
          rgba(2, 136, 204, 0.5) 68.16%
        );

        padding: var(--spacing-800) var(--spacing-400);
        position: relative;

        h2,
        h3 {
          text-align: center;
        }

        h2:first-child {
          margin-top: 0;
        }

        h3,
        h2:last-of-type {
          margin-block: var(--spacing-600);
        }

        form {
          div {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: 450px) {
              flex-direction: row;
            }
            margin-top: var(--spacing-400);

            input[type="email"] {
              background-color: transparent;
              outline: 2px solid var(--key-950);
              padding: var(--spacing-100) var(--spacing-400);

              &::placeholder {
                color: var(--key-200);
              }
            }

            input[type="submit"] {
              background-color: var(--key-950);
              color: var(--white);
              font-weight: 600;
              border: none;
              border-radius: 0;
              outline: 2px solid var(--key-950);

              &:hover {
                transform: none;
                color: var(--cyan-500);
              }
            }
          }
        }

        img {
          position: absolute;
          right: var(--spacing-200);
          z-index: -1;
          top: 50%;
          transform: translateY(-50%);
          height: 100px;
          width: 100px;
        }

        @media screen and (min-width: 768px) {
          padding-block: var(--spacing-950);

          form {
            max-width: 600px;
            margin-inline: unset;
          }

          img {
            height: 200px;
            width: 200px;
            right: 25%;
          }
        }

        @media screen and (min-width: 1200px) {
          form {
            max-width: 960px;
          }

          h3 {
            font-size: var(--font-500);
          }
        }
      }
      #cta {
        display: flex;
        justify-content: center;
        > a button {
          font-size: var(--font-700);
          font-weight: 800;
          padding: var(--spacing-200) var(--spacing-400);
          background-color: var(--cyan-950);
          color: var(--white);
        }
      }
    </style>
    <section id="course-overview">
      <div class="container">
        <h2>Table of contents</h2>
        <div class="segment">
          <h3>
            Introduction and Setup
            <label>
              <input type="checkbox" checked />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Introduction</span>
              <a
                href="https://github.com/ijrussell/essential-fsharp/blob/main/Chapters/00a%20-%20Preface.md"
                >View</a
              >
            </li>
            <li>
              <span>Setting up your Environment</span>
              <a
                href="https://github.com/ijrussell/essential-fsharp/blob/main/Chapters/00c%20-%20Getting%20Started.md"
                >View</a
              >
            </li>
            <li>
              <span>Resources</span>
              <a
                href="https://github.com/amplifying-fsharp/TheEssentialsLectures"
                >View</a
              >
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="60oaa1o8Qpw" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Core F# Types
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Tuple</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Record</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Discriminated Unions</span>
              <!--<a href="#">View</a>-->
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Introduction to Pattern Matching and Functions
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Deep dive into Functions</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Pure Functions</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Composition</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Currying and Partial Application</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Higher-Order Functions</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="TogBdE354w8" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Function Composition with Effects
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Option</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Result</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="DjTmteADMAM" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Deep dive into Collections
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>List</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Seq</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Array</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Map</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Set</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="F3PWLSMU9lA" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Organising your code
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Namespaces</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Modules</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="17nQppWTboY" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Processing external data
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>CSV</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>JSON</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="XS3dZrd_Itg" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            More Pattern Matching
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Active Patterns</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="17VN4G4vAcc" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Functional validation
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Applicatives</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="vRfEz2CGc4o" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Improving your Domain Models
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Value Objects</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="zJbRgSEekUA" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Object programming in F#
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Class Types</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Interfaces</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Object Expressions</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="q4Fto8O98Mo" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Recursion
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Fundamentals of recursion</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Tail call recursion</span>
              <!--<a href="#">View</a>-->
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Computation Expressions
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Fundamentals of computation expressions</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Compound Effects</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="7AOxGvp9tlg" />
            </li>
          </ul>
        </div>
        <div class="segment">
          <h3>
            Using ASP.NET Core
            <label>
              <input type="checkbox" />
            </label>
            <button>
              <Icon name="ion:chevron-up-sharp" height="16" width="16" />
            </button>
          </h3>
          <ul>
            <li>
              <span>Web Pages</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>API</span>
              <!--<a href="#">View</a>-->
            </li>
            <li>
              <span>Video</span>
              <YouTubeVideo youtubeId="neUuO1Xcpeg" />
            </li>
          </ul>
        </div>
      </div>
    </section>
    <style>
      #course-overview {
        padding: var(--spacing-600) var(--spacing-200);

        h2 {
          text-align: center;
          margin-top: 0;
        }

        .segment {
          margin-block: var(--spacing-200);

          h3 {
            font-weight: 600;
            background-color: var(--key-100);
            padding: var(--spacing-200);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--spacing-200);
            position: relative;
            margin-block: 0;

            button {
              border: none;
              outline: 1px solid var(--key-200);
              padding: var(--spacing-50);
              background-color: transparent;
            }

            input[type="checkbox"] {
              position: absolute;
              right: 12px;
              z-index: 1;
              width: 24px;
              height: 24px;
              appearance: none;
              cursor: pointer;
            }

            label:has(input:checked) + button {
              transform: rotate(180deg);
            }
          }

          ul {
            visibility: hidden;
            max-height: 0;
            padding: 0;

            li {
              border-bottom: 1px solid var(--key-100);
              display: flex;
              padding-block: var(--spacing-200);
              margin: 0 var(--spacing-200);
              justify-content: space-between;
              align-items: center;

              a {
                outline: 3px solid var(--key-950);
                padding: var(--spacing-50) var(--spacing-100);
                text-decoration: none;
                color: var(--key-950);

                &:hover {
                  background-color: var(--key-500);
                  color: var(--white);
                  text-decoration: underline;
                }
              }
            }
          }

          h3:has(input[type="checkbox"]:checked) + ul {
            visibility: visible;
            max-height: unset;
          }
        }

        @media screen and (min-width: 768px) {
          padding-block: var(--spacing-800);
          h2 {
            margin-bottom: var(--spacing-600);
          }

          .segment {
            ul {
              li {
                padding-block: var(--spacing-300);
              }
            }
          }
        }
      }
    </style>
    <style is:global>
      .youtube {
        margin-block: var(--spacing-500);
        margin-left: var(--spacing-800);
        flex: 1;
      }
    </style>
    <section id="instructors">
      <h2>Instructors</h2>
      <div class="container">
        <div class="instructor">
          <Image src={Ian} alt="Ian Russel" />
          <h3>Ian Russell</h3>
          <h4>Instructor</h4>
          <p>
            .NET Distributed Systems Specialist | C# & F# | DDD Practitioner.
            Author of Essential F#
          </p>
          <div class="icons">
            <a href="https://twitter.com/ijrussell" target="_blank">
              <Icon name="bi:twitter" height="32" width="32" />
            </a>
            <a href="https://github.com/ijrussell" target="_blank">
              <Icon name="bi:github" height="32" width="32" />
            </a>
          </div>
        </div>
        <div class="instructor">
          <Image src={Edgar} alt="Edgar Gonzalez" />
          <h3>Edgar Gonzalez</h3>
          <h4>Assistant</h4>
          <p>
            Mobile Developer and OSS contributor. Helping the F# ecosystem
            through the AmplifyingF# initiative.
          </p>
          <div class="icons">
            <a href="https://twitter.com/edgarfsharp" target="_blank">
              <Icon name="bi:twitter" height="32" width="32" />
            </a>
            <a href="https://github.com/edgarfgp" target="_blank">
              <Icon name="bi:github" height="32" width="32" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <style>
      #instructors {
        padding: var(--spacing-600) var(--spacing-200);
        background-color: var(--key-50);

        h2 {
          text-align: center;
          margin-top: 0;
        }

        .instructor {
          background-color: var(--white);
          box-shadow: 0 2px 2px var(--shadow-color);
          padding: var(--spacing-400);
          margin-bottom: var(--spacing-400);
          text-align: center;
          border-radius: var(--radius);

          h3 {
            font-size: var(--font-700);
          }

          img {
            width: 135px;
            height: 135px;
            border-radius: 50%;
            object-fit: cover;
          }

          .icons {
            display: flex;
            justify-content: center;
            margin-block: var(--spacing-400);
            gap: var(--spacing-300);

            a {
              color: var(--key-950);
              transition: color 200ms;

              &:hover {
                color: var(--cyan-500);
              }
            }
          }
        }

        @media screen and (min-width: 960px) {
          padding-block: var(--spacing-800);
          h2 {
            margin-bottom: var(--spacing-600);
          }

          .container {
            display: flex;
            gap: var(--spacing-300);
          }
        }
      }
    </style>
  </main>
</Layout>
<div id="toast">Sample text for styling!</div>
<style>
  #toast {
    background-color: var(--cyan-500);
    color: var(--white);
    position: fixed;
    bottom: var(--spacing-400);
    right: var(--spacing-400);
    padding: var(--spacing-200) var(--spacing-400);
    transition: all 300ms;
    opacity: 0;
    visibility: collapse;
    box-shadow: 0 4px 4px var(--shadow-color);
    outline: 1px solid var(--cyan-100);

    &.show {
      opacity: 1;
      visibility: visible;
    }

    &.error {
      background-color: indianred;
      outline-color: lightcoral;
    }
  }
</style>
