---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { Content as WhoAreWe } from "../homepage/WhoAreWe.md";
import { Content as WhatToContribute } from "../homepage/WhatToContribute.md";
import { Content as ConvincingYourBoss } from "../homepage/ConvincingYourBoss.md";
import convincing from "../images/convincing-diagram.svg";

import { getCollection } from "astro:content";
const testimonials = await getCollection("testimonials");
import Testimonials from "../components/Testimonials";
---

<Layout title="Home">
  <header>
    <div class="container">
      <h1>Making a difference for the F&#35; ecosystem</h1>
      <p>
        <strong>Amplifying F&#35;</strong> is a new initiative to encourage
        hands-on collaboration on open-source F&#35; software!<br />
         We aim to inspire developers all over the world to chime in and make
        F&#35; better in the process.
      </p>
      <a href="/join-us">
        <button role="button">Join us today! ⚡</button>
      </a>
    </div>
  </header>
  <main>
    <section id="foundation">
      <div class="container">
        <div>
          <h3>
            <Icon name="mdi:bullseye-arrow" width={24} height={24} />
             Mission statement
          </h3>
          <p>We believe businesses should contribute back to F# OSS.</p>
          <a href="/mission-statement">
            <Icon name="bi:chevron-right" width={16} height={16} />
             Read more
          </a>
        </div>
        <div>
          <h3>
            <Icon name="cil:speech" width={24} height={24} />
             Testimonials
          </h3>
          <p>Open-source has changed people's professional lives.</p>
          <a href="#testimonials">
            <Icon name="bi:chevron-right" width={16} height={16} />
             Read some inspiring stories
          </a>
        </div>
        <div>
          <h3>
            <Icon name="ic:round-live-tv" width={24} height={24} />
             Sessions
          </h3>
          <p>
            Every week we try to highlight a different open-source project by
            actively contributing during a live stream.
          </p>
          <a href="/sessions">
            <Icon name="bi:chevron-right" width={16} height={16} />
             View sessions
          </a>
        </div>
      </div>
    </section>
    <section id="who">
      <div class="container">
        <h2>Who are we?</h2>
        <WhoAreWe />
      </div>
    </section>
    <section id="what">
      <div class="container">
        <h2>What to contribute?</h2>
        <WhatToContribute />
      </div>
    </section>
    <section id="convince">
      <div class="container">
        <h2 class="h1">Convincing your boss?</h2>
        <ConvincingYourBoss />
        <!-- npx  mmdc -i ./src/homepage/convincing.mmd -o ./src/images/convincing-diagram.svg -->
        <Image
          src={convincing}
          alt="Mission statement diagram"
          class="w-100 h-auto"
        />
      </div>
    </section>
    <section id="testimonials">
      <div class="container">
        <h2>Testimonials</h2>
        <p>
          Explore the experiences of individuals who have contributed to
          open-source projects within the F# community.
        </p>
        <Testimonials client:only="react" testimonials={testimonials} />
      </div>
    </section>
    <section id="cta">
      <a href="/join-us">
        <button> Join us today! 🚀</button>
      </a>
    </section>
  </main>
</Layout>
<style>
  header {
    background: linear-gradient(
      180deg,
      var(--cyan-100) 0%,
      var(--cyan-500) 100%
    );
    padding: var(--spacing-800) var(--spacing-600);

    p {
      margin-block: var(--spacing-400);
      font-size: var(--font-500);
    }

    a {
      display: block;
      text-align: center;
      padding-top: var(--spacing-600);

      button {
        background-color: var(--cyan-950);
        color: var(--white);
      }
    }
  }

  #foundation {
    padding-block: var(--spacing-400);
    background: var(--magenta-50);

    > div > div {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: var(--spacing-400) var(--spacing-600);

      a {
        text-decoration: underline dotted var(--magenta-500);
        font-size: var(--font-400);
        font-weight: 400;
        padding: var(--spacing-200);
        color: var(--magenta-700);
        align-self: end;
        transition: all 200ms;
        display: flex;
        align-items: center;

        > svg {
          margin-right: var(--spacing-50);
        }

        &:hover {
          background-color: var(--white);
          color: var(--magenta-950);
          box-shadow: 0 2px 2px var(--shadow-color);
        }
      }

      h3 {
        line-height: var(--spacing-600);
        margin: 0;
        color: var(--magenta-800);
        display: flex;
        align-items: center;

        > svg {
          margin-right: var(--spacing-100);
        }
      }

      p {
        margin: 0;
        font-size: var(--font-400);
      }
    }

    @media screen and (min-width: 768px) {
      padding-block: var(--spacing-600);

      > .container {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-400);

        > div {
          margin: 0;
          flex: 1;

          h3 {
            font-size: var(--font-400);
          }

          p {
            margin-block: var(--spacing-200);
            padding-inline: var(--spacing-200);
            min-height: 200px;
            font-size: var(--font-300);
          }

          a {
            align-self: start;

            > svg {
              margin-right: var(--spacing-200);
            }
          }
        }
      }
    }

    @media screen and (min-width: 960px) {
      > .container > div p {
        min-height: 140px;
      }
    }
  }

  #who {
    background: linear-gradient(
      180deg,
      var(--yellow-300) 0%,
      var(--yellow-400) 100%
    );
    padding: var(--spacing-900) var(--spacing-400);
    @media screen and (min-width: 768px) {
      padding-inline: 0;
    }

    h2 {
      font-size: var(--font-700);
    }

    h2:first-child {
      margin: 0;
    }

    h2:last-of-type {
      margin-top: var(--spacing-900);
    }

    p {
      font-size: var(--font-400);
    }
  }

  #what {
    background-color: var(--key-950);
    color: var(--white);
    padding: var(--spacing-900) var(--spacing-400);
    @media screen and (min-width: 768px) {
      padding-inline: 0;
    }

    h2 {
      margin-top: 0;
    }

    p {
      font-size: var(--font-400);
    }
  }

  #convince {
    padding: var(--spacing-900) var(--spacing-400);
    @media screen and (min-width: 768px) {
      padding-inline: 0;
    }

    background: linear-gradient(
      180deg,
      var(--magenta-800) 0%,
      var(--magenta-900) 100%
    );
    color: var(--magenta-50);

    p {
      font-size: var(--font-400);
    }

    img {
      margin: var(--spacing-400) auto;
      display: block;
    }

    a {
      color: var(--magenta-400);
    }
  }

  #testimonials {
    color: var(--cyan-500);
    padding: var(--spacing-900) var(--spacing-400);
    @media screen and (min-width: 768px) {
      padding-inline: 0;
    }

    h2 {
      font-size: var(--font-900);
      text-align: center;
      margin-top: 0;
    }

    p {
      text-align: center;
      font-size: var(--font-600);
      margin-bottom: var(--spacing-600);
    }
  }

  #cta {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: var(--spacing-900);

    > a button {
      font-size: var(--font-700);
      font-weight: 800;
      padding: var(--spacing-200) var(--spacing-400);
      background-color: var(--cyan-950);
      color: var(--white);
    }
  }
</style>
