---
import Layout from "../layouts/Layout.astro";
import { Content as MissionStatement } from "../homepage/MissionStatement.md";
import { Content as WhoAreWe } from "../homepage/WhoAreWe.md";
import { Content as WhatToContribute } from "../homepage/WhatToContribute.md";
import { Content as ConvincingYourBoss } from "../homepage/ConvincingYourBoss.md";
---

<Layout title="Home">
  <header class="pb-3 bg-light vh-50">
    <div class="p-5 mb-1">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold my-5">
          Making a difference for the F&#35; ecosystem
        </h1>
        <p class="fs-4">
          <strong>Amplifying F&#35;</strong> is new initiative to encourage hands-on
          collaboration on open-source F&#35; software!<br />
          We aim to inspire developers all over the world to chime in and make F&#35;
          better in the process.
        </p>
        <div class="d-flex justify-content-center mt-5">
          <a href="#mission-statement" class="">
            <button role="button" class="btn btn-primary"
              >Learn more our mission statement ⚡</button
            ></a
          >
        </div>
      </div>
    </div>
  </header>
  <main>
    <section id="mission-statement" class="lead">
      <div class="container">
        <h2 class="display-3 mb-5 d-block">Mission Statement</h2>
        <MissionStatement />
      </div>
    </section>
    <section id="who">
      <div class="container">
        <h2 class="display-4">Who are we?</h2>
        <WhoAreWe />
      </div>
    </section>
    <section id="what">
      <div class="container">
        <h2 class="display-4">What to contribute?</h2>
        <WhatToContribute />
      </div>
    </section>
    <section id="convince">
      <div class="container">
        <h2 class="display-4">Convincing your boss?</h2>
        <ConvincingYourBoss />
      </div>
    </section>
  </main>
</Layout>

<style>
  section {
    margin: 3rem 0;
  }
</style>
