---
import Layout from "../layouts/Layout.astro";
import { Content as MissionStatement } from "../homepage/MissionStatement.md";
import { Content as WhoAreWe } from "../homepage/WhoAreWe.md";
import { Content as WhatToContribute } from "../homepage/WhatToContribute.md";
import { Content as ConvincingYourBoss } from "../homepage/ConvincingYourBoss.md";

import { getCollection } from "astro:content";
const testimonials = await getCollection("testimonials");
console.log(testimonials);
---

<Layout title="Home">
  <header class="pb-3 bg-light vh-50">
    <div class="p-5 mb-1">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold my-5">
          Making a difference for the F&#35; ecosystem
        </h1>
        <p class="fs-4">
          <strong>Amplifying F&#35;</strong> is a new initiative to encourage hands-on
          collaboration on open-source F&#35; software!<br />
          We aim to inspire developers all over the world to chime in and make F&#35;
          better in the process.
        </p>
        <div class="d-flex justify-content-center mt-5">
          <a href="#mission-statement" class="">
            <button role="button" class="btn btn-primary"
              >Learn more about our mission statement ⚡</button
            ></a
          >
        </div>
      </div>
    </div>
  </header>
  <main>
    <section id="mission-statement" class="lead">
      <div class="container">
        <h2 class="display-3 mb-5 d-block">Mission Statement</h2>
        <MissionStatement />
      </div>
    </section>
    <section id="who">
      <div class="container">
        <h2 class="display-4">Who are we?</h2>
        <WhoAreWe />
      </div>
    </section>
    <section id="what">
      <div class="container">
        <h2 class="display-4">What to contribute?</h2>
        <WhatToContribute />
      </div>
    </section>
    <section id="convince">
      <div class="container">
        <h2 class="display-4">Convincing your boss?</h2>
        <ConvincingYourBoss />
      </div>
    </section>
    <section id="testimonials">
      <div class="container">
        <h2 class="mb-4">Testimonials</h2>
        <div
          id="testimonialCarousel"
          class="carousel carousel-dark slide"
          data-bs-theme="dark"
        >
          <div class="carousel-inner">
            {
              testimonials.map((testimonial, idx) => {
                {
                  return (
                    <a
                      href={`/testimonials/${testimonial.slug}`}
                      class:list={[
                        "carousel-item text-dark text-decoration-none",
                        { active: idx === 0 },
                      ]}
                    >
                      <figure class="text-center">
                        <blockquote class="blockquote">
                          <p>{testimonial.data.preview}</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                          {testimonial.data.author}
                        </figcaption>
                      </figure>
                    </a>
                  );
                }
              })
            }
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#testimonialCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#testimonialCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style lang="sass">
  section
    margin: 3rem 0
</style>

<script>
  import { Carousel } from "https://cdn.skypack.dev/bootstrap@5.3.0-alpha1";
  new Carousel("#testimonialCarousel");
</script>
