---
import PageLayout from "../layouts/PageLayout.astro";
import JoinUsForm from "../components/JoinUsForm";
---

<PageLayout
  title="Join us"
  backgroundImage="/images/join-us-header.jpg"
  mainTitle="Amplify F# today: Join Our Initiative!"
>
  <h2>How can I join?</h2>
  <p>
    Our goal with <strong>Amplifying F#</strong> is to connect contributors and work
    towards solutions.<br />
    We aim to bring togheter people to work on specific issue. <em
      >Do you have an itch you want to scratch?</em
    ><br />
    Great, let us know what that itch is and we can schedule a session 🚀!
  </p>
  <h2 class="mt-4">Wait is this free?</h2>
  <p>
    No, this it not. You <strong>pay</strong> with your <strong>time</strong>.
    Or more specifically, your company grants you the time to work on this. That
    is really the aim of our initiave: companies giving back to F#<br />
    We won't solve any problems for you. You participation is expected and thus there
    is no escape that you will need to invest time into this.
  </p>
  <h2 class="mt-4">See it, Say it, Sort it!</h2>
  <p class="mb-4">
    Please submit the following form so we can provide the best means of
    collaborating with you.
  </p>
  <div id="formWrapper" class="col-md-6">
    <JoinUsForm client:only="react" />
  </div>
</PageLayout>
