---
import PageLayout from "../layouts/PageLayout.astro";
import JoinUsForm from "../components/JoinUsForm";
---

<PageLayout title="Join us" mainTitle="Amplify F# today: Join Our Initiative!">
  <h2>How can I join?</h2>
  <p>
    Our goal with <strong>Amplifying F#</strong> is to connect contributors and work
    towards solutions.<br />
    We aim to bring together people to work on specific issues. <em
      >Do you have an itch you want to scratch?</em
    ><br />
    Great, let us know what that itch is and we can schedule a session 🚀!
  </p>
  <h2 id="free">Wait, is this free?</h2>
  <p>
    No, it's not. You <strong>pay</strong> with your <strong>time</strong>. Or
    more specifically, your company grants you the time to work on this. That is
    really the aim of our initiave: companies giving back to F#<br />
    We won't solve any problems for you. Your participation is expected and thus
    there is no escape that you will need to invest time into this.
  </p>
  <div class="center">
    <h2>See it. Say it. Sorted!</h2>
    <p>
      Please submit the following form so we can provide the best means of
      collaborating with you.
    </p>
  </div>
  <div id="formWrapper">
    <JoinUsForm client:only="react" />
  </div>
</PageLayout>
<style>
  #free {
    margin-top: var(--spacing-600);
    @media screen and (min-width: 768px) {
      text-align: right;
    }
  }
  .center {
    text-align: center;
    margin-top: var(--spacing-800);
    margin-bottom: var(--spacing-400);
  }

  #formWrapper {
    padding-block: var(--spacing-400);
    display: flex;
    justify-content: center;
  }
</style>
