<a href="/join-the-core">
  <h6>We are looking for new people to join our core team</h6>
</a>
<style>
  a {
    text-align: center;
    background-color: var(--cyan-500);
    color: var(--key-50);
    display: block;
    text-decoration: none;

    &:visited {
      background-color: var(--cyan-500);
    }

    &:hover {
      background-color: var(--cyan-600);
      color: var(--cyan-50);
    }
  }

  h6 {
    font-size: var(--font-100);
    margin: 0;
    padding: var(--spacing-50);
    font-weight: normal;
  }
</style>
