---
import "../styles/style.sass";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{title} | Amplifying F&#35;</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-transparent">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Amplifying F&#35;</span>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/testimonials">Testimonials</a>
          </div>
        </div>
      </div>
    </nav>
    <slot />
  </body>
</html>
