---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import { Image, getImage } from "astro:assets";

type PageLayoutProps = {
  mainTitle: string;
  title: string;
  color?: "cyan" | "yellow" | "magenta";
};

// The props will come from frontmatter if we are targetting an *.md file
const props: PageLayoutProps = Astro.props.frontmatter ?? Astro.props;
const {
  mainTitle,
  author,
  containerClass = "container",
  color = "cyan",
} = props;

import missionStatementHeader from "../images/mission-statement-header.jpg";
import incitationHeader from "../images/incitation-header.jpg";
import blogHeader from "../images/blog-header.jpg";
import sessionsHeader from "../images/sessions-header.jpg";
import sessionHeader1 from "../images/session-header-1.jpg";
import sessionHeader2 from "../images/session-header-2.jpg";
import sessionHeader3 from "../images/session-header-3.jpg";
import faqHeader from "../images/faq-header.jpg";
import joinUsHeader from "../images/join-us-header.jpg";
import testimonialHeader from "../images/testimonials-header.jpg";

function getImageSrc(path) {
  if (path.match(/mission/)) {
    return missionStatementHeader.src;
  } else if (path.match(/incitation/)) {
    return incitationHeader.src;
  } else if (path.match(/blog/)) {
    return blogHeader.src;
  } else if (path.match(/\/sessions\/\d{4}\/\d{2}\/\d{2}/)) {
    if (color === "cyan") {
      return sessionHeader1.src;
    } else if (color === "magenta") {
      return sessionHeader2.src;
    } else {
      return sessionHeader3.src;
    }
  } else if (path.match(/sessions/)) {
    return sessionsHeader.src;
  } else if (path.match(/faq/)) {
    return faqHeader.src;
  } else if (path.match(/join/)) {
    return joinUsHeader.src;
  } else if (path.match(/testimonials/)) {
    return testimonialHeader.src;
  } else {
    return "";
  }
}

const src = getImageSrc(Astro.url.pathname);
---

<Layout {...props}>
  <Header mainTitle={mainTitle} src={src} author={author} color={color} />
  <main class="container">
    <slot />
  </main>
</Layout>
<style>
  main {
    margin-block: var(--spacing-700);
    padding-inline: var(--spacing-200);
    @media screen and (min-width: 768px) {
      padding-inline: 0;
    }

    h2:first-child {
      margin-top: 0;
    }

    img {
      display: block;
      margin-inline: auto;
    }

    img[alt="Mission statement diagram"] {
      margin-block: var(--spacing-200);
    }
  }
</style>
